/* importing the font online */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("assets/plugins/font-awesome/css/all.min.css"); /* import font-awesome */

:root {
  --primary-color: rgb(130, 87, 231);
  --primary-color-dark: rgb(72, 46, 131);
  --primary-color-light: rgb(153, 115, 241);
  --text-color: rgb(50, 38, 77);
  --alt-text-color: rgba(255, 255, 255);
  --lighter-color: rgba(250, 250, 250);
  --light-color: rgba(230, 230, 230);
  --alt-text-color-50: rgba(255, 255, 255, 0.5);
  --success-color: rgb(3, 161, 74);
  --success-color-light: rgb(4, 211, 97);
  --neutral-color: rgb(100, 100, 100);
  --neutral-color-50: rgba(100, 100, 100, 0.5);
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: content-box; /* dynamic border and static content */
  box-sizing: border-box; /* dynamic content and static border */
  font-family: Poppins;
  font-weight: 400;
}

a {
  text-decoration: none;
}

header {
  padding: 2rem;
  display: flex;
  align-items: center;
  padding-bottom: 8rem;
  flex-direction: column;
  background-color: var(--primary-color);
}

label {
  display: block;
  font-weight: 300;
  font-size: 0.95rem;
  margin: 1.5rem 0 0.5rem;
  color: var(--neutral-color);
}

input,
textarea,
select {
  width: 100%;
  display: block;
  padding: 0.8rem;
  border-radius: 0.5rem;
  color: var(--neutral-color);
  background: var(--lighter-color);
  border: 1px solid var(--light-color);
}

textarea {
  min-height: 9rem;
}
